# Node modules
node_modules

# Build files
dist

# Logs
logs

# Environment variables
.env

# IDE files
.vscode

# OS files
.DS_Store

# User files
*.log

# Dependency directories
jspm_packages
bower_components

# Dependency files
package-lock.json
yarn.lock

# Compiled files
*.min.js
*.min.css
*.min.html
*.min.json

# Configuration files
*.config.js
*.config.json
